<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Reviews{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            {% load static %}
            <img src="{% static 'images/home.png' %}" alt="Home" width="30" height="24">
            <i class="d-inline'block align'text'top "> Movie Reviews
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <i class="bi bi-house"></i> Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">
                  <i class="bi bi-newspaper"></i> Noticias
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">
                  <i class="bi bi-info-circle"></i> Acerca de
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'statistics' %}">
                  <i class="bi bi-graph-up"></i> Estadísticas
                </a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi bi-person-plus"></i> Registrarse
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>

<footer class="text-center text-lg-start bg-light text-muted mt-4">
    <div class="container">
      <div class="row">
        <div class="text-center p-4">
          <h4>© 2025 Copyright - Paola Vallejo & Juan David Martínez</h4>
        </div>
      </div>
    </div>
  </footer>